@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model SportsStore.Models.Product

    ViewBag.Title = "Delete Product";
}

<h2>Delete Product</h2>

<p>Are you sure you want to delete the product "<strong>@Model.Name</strong>"?</p>

@using (Html.BeginForm())
{
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
}


